@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #13131c;
  color: #fff;
}

.App {
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
  margin-bottom: 16px;
}

a:hover {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.search {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(
    90deg,
    hsla(143, 72%, 40%, 1) 0%,
    hsla(143, 67%, 55%, 1) 100%
  );
  color: #e2e2e2;
}

.input::placeholder {
  color: #e2e2e2;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
}
