.stock-container {
  display: flex;
  justify-content: center;
}

.stock-row {
  width: 65%;
}

.link {
  text-decoration: none;
}

.row:hover > p {
  opacity: 0.8;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}

.stock {
  display: flex;
  align-items: center;
}

.stock h1 {
  flex: 1;
  font-size: 16px;
}

.ticker {
  flex: 0.5;
  width: 45px;
  text-transform: uppercase;
  margin-right: 20px;
}

.name {
  flex: 1.5;
  max-width: 400px;
  margin-right: 20px;
}

.price {
  flex: 1;
}

.changes {
  flex: 1;
}

.red {
  color: #d64040;
}

.green {
  color: #11d811;
}

@media screen and (max-width: 800px) {
  .stock-row {
    margin-left: 5px;
    width: 90%;
  }

  .row {
    height: 150px;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    font-size: 0.8rem;
    margin-left: 0px;
  }

  .ticker {
    align-self: top;
  }

  .name {
    flex: 1;
    max-width: 250px;
    margin-right: 20px;
  }
}
